
.columns{
display: flex;
margin: 50px 40px 40px 40px;

}
.containerSearch{
  padding: 8px;
  text-align: -webkit-right;
  border-radius: 10px;

  color: #ffffff;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #ccc;
  overflow-x: hidden;
  height: 64vh;


}
.currentImg{
  width: 100px;
}
.conversation{
  background-color: hsl(0, 0%, 100%);
width: 80vh;
border: 3px solid #ccc;
border-radius: 10px;
margin-left: 12px;
}
.bane{
  border: 1px solid#0d6efd;
  background: #0d6efd;
  height: 80px;
  border-radius: 10px;
 align-content: center;
 color: #ffffff;
 font-weight: bold;
 margin-bottom: 10px;
}
.envio{
background: none;
width: 6px;
margin: auto;
}
.envio img{
width: 20px;

}
.data{
  border:solid 1px#1111;
  border-radius: 25px;
  padding: 4px;
  position: relative;
  margin: 18px;

}
.divisas{
border-radius: 9px;
  background: #0d6efd;
}
input#amount {
  text-align: center;
  color: #ccc;
  font-size: 20px;
}
select#from,#to {
  width: 80px;
}
select option {
  background-color: #0d6efd;
}
.iconsInput{
  width: 20px;
  margin: 0 4px;
}
.contenInput{
  background: none;
  border: none;
  outline: none; /* Elimina el borde cuando se hace clic */
}
.resultSearch{
  background: #0d6efd;
  width: 300px;
  border-radius: 8px 0 8px 8px;
  padding: 0 6px;
}
input[type='number']{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.containertable{
  margin: 0 auto;
  position: relative;
}
.fondo{
  width: 68vh;
  margin: 0 auto;
  height: 70vh;

}
.containertFondo {
  width: 300px;
  margin: 0 auto;
  align-content: center;
}

@media (max-width: 670px) {
  .columns {
      display: block;
    margin: 40px;
  }
  .fondo{
    display: none;
  }
  .conversation{
    width: 100%;
  }
  .space{
    margin: 0px !important;
    width: 100px;
  }
}